body {
  margin: 0;
  padding: 0;
  
}

marquee {

position: absolute;
z-index: 999999;
background-color: rgba(255, 255, 255, 0.9);
right: 30%;
/*left: 200;*/
width: 40%;
font-family: 'Open Sans' !important;
font-weight: 500;
font-size: 22px;
border-radius: 0 0 5px 5px;
padding-bottom: 4px;
/*width: 500px;*/
}

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

#info-pane {
  position: absolute;
  bottom: 40px;
  left: 10px;
  z-index: 10;
  padding: 1em;
  background: white;
}

.sidebar-container {
  padding-top: 20px;
  font-family: 'Open Sans' !important;
}
.sidebar-header {
  font-size: 32px;
  padding-top: 20px;
  text-transform: capitalize;
  overflow: hidden;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
}
.sidebar-subheader {
  font-size: 24px;
  color: #888888;

}
#property-image{
  height: 275px;
  margin-right: -21px;
  margin-left: -21px;
  margin-top: -25px;
}


.property-type{
  width: 70%;
  padding-top: 8px;
  padding-bottom: 8px;
  font-size: 16px;
  font-weight: bold;
}
.property-container{
  width: 100%;
  float: left;
}
.container{
  width: 100%;
  float: left;
  /*min-height: 310px;*/

}
.col-2 {
  width:100%;
  float: left;
  padding-top: 8px;
  padding-bottom: 8px;
}
.col-1 {
  width:50%;
  float:left;
  padding-top: 8px;
  padding-bottom: 8px;
}
.property-element-50{
  width: 100%;
  /*float: right;*/
}
.property-element-50{
  width: 100%;
  /*float: left;*/
}
input[type=search] {
  background: white url(http://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
  outline: none;
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
}
input[type=search]:focus {
  box-shadow: 0 0 5px rgba(109,207,246,.5);
}
#addressSearch {
  position: absolute;
  z-index: 10;
  height: 40px;
  width: 325px;
  font-size: 18px;
  left: 10px;
  top:20px;
  padding: 0 5px 0 30px;
  border-radius: 10px;
  border: 1px solid #808080;
}
  
.totalRisk {
  /*width: 80%;*/
  /*margin: 10px auto;*/

  /*border: 1px solid #c9e9e9;*/
  
  padding-bottom: 10px;
  padding-left: 12px;
  padding-right: 12px;
  border: 1px solid lightGrey;
   border-radius: 15px;
  background-color: #f0f0f0;
}
.item-header {
  /*padding-top: 8px;*/
  padding-bottom: 8px;
  font-weight: bold;
  font-size: 16px;

}
#totalRiskValue {
  font-weight: normal;
  font-size: 32px;
  font-family: 'Open Sans';
}
#totalRiskGraph {
  font-weight: normal;
  /*font-size: 32px;*/
  padding-top: 20px;
  padding-bottom: 15px;
}
.risk {
  /*width: 80%;*/
  /*margin: 10px auto;*/
  border: 1px solid lightGrey;
  border-radius: 15px;
  background-color: #f0f0f0;
  /*padding-top: 10px;*/
  float: left;
  width: 100%;
}

.radial {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #d7d7d7;
  margin: 15px;
  position: relative;
}
.radial .circle .mask {
  clip: rect(0px, 60px, 60px, 30px);
}
.mask, .fill {
  width: 60px;
  height: 60px;
  position: absolute;
  border-radius: 50%;
  -webkit-backface-visibility: hidden;
  transition: -webkit-transform 1s;
  transition: -ms-transform 1s;
  transition: transform 1s;
}
.mask .fill {
  clip: rect(0px, 30px, 60px, 0px);
  background-color: grey;
}

.inset {
  width: 40px !important;
  height: 40px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -20px 0 0 -20px !important;
  background-color: #fbfbfb;
  border-radius:50%;
  text-align:center;
  line-height: 40px;
}
.little{
  font-size: 12px;
  color: #a0a0a0;
  display: none !important;
}
.bigger{
  font-size: 18px;
  font-weight: 600;
}
.tag {
  position: absolute;
  left: 100%;
  top: 50%;
  width: 150%;
  transform: translate(10%,-50%);
  font-size: 16px;
}
meter { 

  -webkit-appearance: none; 
  width: 100%;
  height: 14px;


} //Crucial, this will disable the default styling in Webkit browsers

meter::-webkit-meter-bar {
    background: #FF0000;
    border: 1px solid #CC0000;
}

meter::-webkit-meter-optimum-value {

    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #86cc00), color-stop(100%, #ff4500));

}
meter::-webkit-meter-suboptimum-value {

    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #86cc00), color-stop(100%, orange));

}
meter::-webkit-meter-even-less-good-value {

    background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #86cc00), color-stop(100%, red));

}
::-webkit-scrollbar {
      width: 8px;
} 
::-webkit-scrollbar-track {
      background-color: #bbbbbb;
} /* the new scrollbar will have a flat appearance with the set background color */
 
::-webkit-scrollbar-thumb {
      background-color: rgba(0, 0, 0, 0.4); 
} /* this will style the thumb, ignoring the track */
 
::-webkit-scrollbar-button {
      background-color: #bbbbbb;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
 
::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
.esri-leaflet-logo{
  padding-right: 8px !important;
  padding-bottom: 8px !important;
}
.leaflet-control-attribution{
  display: none ! important;
}